body{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; 
    background-color: blue;
}
.loginTable{
    margin: auto;
}
#login{
    height: 100%;
    width:100%;
    opacity: 0.9;
}
.loginButton{
    display: flex;
    justify-content: space-between;
}