#SceneDetail {
    background-color: rgba(213,213,213,0.05);
    position: absolute;
    width: 24%;
    float: left;
    z-index: 1;
    border-radius: 8px;
    color: black;
    padding: 5% 0px 20px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main {
    padding-right: 28px;
}
.sceneBox{
    margin-left: 4%;
}
.head {
    /*opacity: 100%;*/
    font-size: 30px;
    height: 40px;
    font-weight: 500;
    line-height: 40px;
    opacity: 1;
    color: #3A3E41;
    margin-bottom: 5%;
    display: inline-block;
}

.main {
    font-size: 15px;
    animation:mymove 2s;
    -webkit-animation:mymove 2s; /*Safari and Chrome*/
    animation-fill-mode: forwards;
    animation-timing-function:ease;
}

span {
    padding-left: 5px;
}

@keyframes mymove
{
    from {left:0px;opacity: 0.5;}
    to {left:2%;opacity: 1;}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
    from {left:0px;opacity: 0.5;}
    to {left:20px;opacity: 1;}
}

.main div {
    padding-top: 3px;
}

.addfavbtn {
    padding-top: 8px;
    padding-left: 20px;
}
.line{
    background-color: #3A3E41;
    height: 5px;
    margin-top: 1.7%;
}
.name{
    width: auto;
    display: inline-block;
}