#SceneTough {
    display: flex;
    background-color: rgba(213,213,213,1.4);
    padding-bottom: 2%;
    /* flex-direction: column-reverse; */
}
#Myscene{
    display: flex;
    padding-bottom: 2%;
}
.toughhead{
    font-size: 21px;
    height: 40px;
    font-weight: 550;
    line-height: 50px;
    opacity: 1;
    color: #3A3E41;
    margin-bottom: 1%;
    display: inline-block;
}
.main div{
    padding-top: 0;
    font-size: 17.5px;
    /*padding-bottom: 10;*/
}