
#main{
    display: flex;
    background-color: #e0e0e0;
    flex-direction: column;
}

.mainBox{
    display: flex;
  flex: 1;
}
.map{
    flex: 1;
    margin-left: 10%;
}
.side{
    flex: 0 0 12em;
}

.top{
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;

}
.inputSearch{
    display:flex
}
.inputField{
    flex:1

}
.topBox{
    width: 100%;
    background-color: #fefefd;
    margin-top: 0;
    height:10%
}