body{
    background-image: url('../../assets/loginbg.png');
    background-repeat:no-repeat;
    background-origin:content-box;
    background-position:center;
}
#main{
    display: flex;
    flex-direction: column;
}

.mainBox{
    display: flex;
    flex: 1;
}
.map{
    flex: 1;
    margin-left: 10%;
}
.side{
    flex: 0 0 12em;
}

.top{
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;

}
.inputSearch{
    display: flex;
}
.inputField{
    flex:1

}
.topBox{
    width: 100%;
    margin-top: 0;
    height:10%;
    background-color: #fafafa;
    display: flex;
}
.searchicon{
    background-color: #1890ff;
    margin-right: 117px;
}
.usericon{
    background-color: #1890ff;
    height: 42px;
    width: 42px;
    border-radius: 100%;
    margin-left: 117px;
    display: flex;
    justify-content: center;
    align-items: center;
}