#Person {
    margin-left: 0%;
    opacity: 0.97;
    margin-top: 0%;
    height: 90%;
    margin-right: -5%;
    z-index: 1000;
    border-radius: 1%;
    background-color: #fff;
    /*width: 100%;*/
}
.personbutton{
    display: flex;
    width: 100%;
}
